*~
*.tsv
*.csv
*.pyc
*.out
*.maf
*.txt
*.fasta
*.fa
*.rtf
!todo.txt
!100_genomes_info.txt
!code/*txt
!code/sim/sim_multi_model_args.txt
!code/sim/sim_multi_model_args.readme.txt
results/*
!results/track.txt
alignments/*
!alignments/track.txt
data/*
!data/track.txt
.DS_Store
code/sim/seedms
code/phylogeny/*
!code/phylogeny/*.R
!code/phylogeny/*.py
code/*/scratch/*